/* Feed general styles */

.feed-header {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #2E132C, #291127);
}

.header-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.tweeter-general-container {
    background-color: #150714;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tweeter-container {
    width: 40%;
    margin: 15px 0;
    display: flex;
}

.tweeter-pfp-container {
    width: 12%;
}

.profilepic-link {
    height: 54px;
}

.tweeter-input-container {
    width: 88%;
    display: flex;
    flex-direction: column;
}

.tweeter-input {
    background-color: #2f112d;
    color: #B5467f;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    width: 98%;
    height: 110px;
    padding: 7px;
    outline: none;
    border: none;
}

.bar {
    background-color: #00da76;
    width: 0%;
    height: 3px;
}

.tweeter-subtext {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.post-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.post-button {
    font-family: 'Press Start 2P', cursive;
    color: #150714;
    background-color: #2f112d;
    height: 25px;
    width: 15%;
    margin: 10px 0;
    border: 0;
}

.post-button:hover {
    background-color: #592455;
} 

.feed {
    background-color: #2E132C;
    min-height: 100vh;
    border-top: 3px solid #592455;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Colores */

.pinky {
    border-color: #f50d5a;
    color: #f50d5a;
}

.orange {
    border-color: #ff865c;
    color: #ff865c;
}

.yellow {
    border-color: #ffea5c;
    color: #ffea5c;
}

.green {
    border-color: #00da76;
    color: #00da76;
}

.cyan {
    border-color: #0096ce;
    color: #0096ce;
}

.purple {
    border-color: #800fff;
    color: #800fff;
}

/* /// */

.pinkyBG {
    background-color: #f50d5a;
}

.orangeBG {
    background-color: #ff865c;
}

.yellowBG {
    background-color: #ffea5c;
}

.greenBG {
    background-color: #00da76;
}

.cyanBG {
    background-color: #0096ce;
}

.purpleBG {
    background-color: #800fff;
}

@media screen and (max-width: 400px){
    .header-container{
        width: 100%;
    }
    
    .feed-header{
        height: 40px;
    }

    #pfp{
        width: 0px;
        visibility: hidden;
    }

    #large-icon{
        width: 0px;
        visibility: hidden;
    }

    .tweeter-container{
        width: 85%;
    }

    .tweeter-input-container{
        display: flex;
        align-items: flex-end;
        width: 10   0%;
    }

    .tweeter-input{
        width: 75%;
    }

    .tweeter-subtext{
        width: 80%;
    }

    .post-button{
        width: auto;
    }
}

@media screen and (max-width: 900px) and (min-width: 401px){
    .header-container{
        width: 90%;
    }
    
    .feed-header{
        height: 40px;
    }

    .tweeter-container{
        width: 80%;
    }

    .tweeter-input-container{
        display: flex;
        align-items: flex-end;
        width: 100%;
    }

    .tweeter-input{
        width: 75%;
    }

    .tweeter-subtext{
        width: 77%;
    }

    .post-button{
        width: auto;
    }
}